<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMusicLibraryUsageDescription</key>
	<string>This app requires access to your music library to remix your favorite songs.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to your music library to remix your favorite songs.</string>
	<key>CFBundleIdentifier</key>
	<string>VSM800Submission</string>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationLandscapeLeft</string>
	<key>UILaunchStoryboardName</key>
	<string>VSM 800</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
	</array>
</dict>
</plist>
